*pyc
__pycache__/*
.ipynb_checkpoints/*
trained_params_fine/*
best_params_fine/*
trained_params_coarse/*
best_params_coarse/*
inference_results/*
vgg-weights/*
nohup.out
loss_*
log*
err*
lol*
tmp*
*zip
